:root {
  direction: ltr;
  unicode-bidi: isolate;
  -webkit-locale: "en-US";
  box-sizing: border-box;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  scroll-behavior: smooth;
  color: var(--bybit-font-color-primary);
  font-weight: 400;
  font-size: 14px;
  padding: 0;
  margin: 0;
  background-color: var(--bybit-color-white);
  font-family: IBM Plex Sans, -apple-system, BlinkMacSystemFont, Roboto, Arial,
    sans-serif;
  --bybit-color-white: #fff;
  --bybit-color-black: #121214;
  --bybit-color-gray-02: #575b61;
  --bybit-color-gray-03: #81858c;
  --bybit-gray-01: #121214;
  --bybit-gray-02: #575b61;
  --bybit-gray-03: #81858c;
  --bybit-gray-04: #adb1b8;
  --bybit-gray-05: #e9edf2;
  --bybit-gray-06: #f8fafc;
  --bybit-gray-bg: #f5f7fa;
  --bybit-gray-card: #fff;
  --bybit-orange-normal: #f7a600;
  --bybit-orange-taped: #e57d1d;
  --bybit-orange-hover: #ffc35c;
  --bybit-orange-bg: #fffbf0;
  --bybit-font-color-primary: var(--bybit-color-black);
  --color-shadow-1: rgba(24, 32, 82, 0.02);
  --margin-middle-title: 80px;
  --margin-middle: 80px;
  --margin-normal-title: 80px;
  --margin-normal: 80px;
  --margin-big-title: 80px;
  --margin-big: 80px;
  --margin-small-title: 48px;
  --margin-small: 48px;
  --title-margin-bottom: 80px;
  --title-margin-bottom-normal: 32px;
  --title-margin-bottom-middle: 32px;
  --title-margin-bottom-small: 24px;
  --font-size-sl: 96px;
  --font-size-h1: 64px;
  --font-size-h2: 48px;
  --font-size-h3: 40px;
  --font-size-h4: 32px;
  --font-size-h5: 24px;
  --font-size-h6: 20px;
  --font-size-subTitle: 18px;
  --font-size-body: 16px;
  --font-size-caption: 14px;
  --font-size-tag: 12px;
  --bybit-box-shadow: 0px 2px 32px rgba(24, 32, 82, 0.2);
  --img-scale: scale(1.05);
  --size-3: 12px;
  --size-50: 100px;
  --coin-eth: #1a7eff;
  --coin-btc: #ffb11a;
  --coin-eos: #ff5100;
  --coin-xrp: #00d4ff;
  --coin-bch: #ff8300;
  --coin-ltc: #5555ec;
  --coin-link: #85b2f8;
  --coin-xtz: #3e5bf2;
  --coin-uni: #f30a75;
  --coin-dot: #ff3da9;
  --coin-ada: #6b65ff;
  --size-0: 0;
  --size-1: 1px;
  --size-2: 2px;
  --size-4: 4px;
  --size-5: 5px;
  --size-6: 6px;
  --size-8: 8px;
  --size-7: 7px;
  --size-10: 10px;
  --size-12: 12px;
  --size-14: 14px;
  --size-16: 16px;
  --size-20: 20px;
  --size-24: 24px;
  --size-28: 28px;
  --size-30: 30px;
  --size-32: 32px;
  --size-36: 36px;
  --size-40: 40px;
  --size-48: 48px;
  --size-56: 56px;
  --size-64: 64px;
  --size-72: 72px;
  --size-80: 80px;
  --size-92: 92px;
  --size-96: 96px;
  --size-100: 100px;
  --size-136: 136px;
  --size-292: 292px;
  --special-size-2: 2px;
  --special-size-6: 6px;
  --special-size-14: 14px;
  --font-size-6: 6px;
  --font-size-8: 8px;
  --font-size-10: 10px;
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-24: 24px;
  --font-size-48: 48px;
}
