.navbar-inverse .navbar-nav > li > a {
  color: gold;
}
.navbar-inverse .navbar-brand {
  color: gold;
}
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
  color: gold;
  background-color: transparent;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background-color: transparent;
    border-color: #101010;
    /* width:100%; */
    text-align: right;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    background-color: black;
    margin-right: -15px;
    margin-left: -15px;
}

.container-fluid>.navbar-collapse >ul.dropdown-menu{
  background-color: gold;
}

.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
   
    
    

}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: black;
}


.navbar-inverse .container-fluid .navbar-header div.logo >img {
    border-right: 15px;
}



@media (min-width: 767px){
  .navbar-nav .open ul.dropdown-menu {
    position: relative;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: gold !important;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}


    
    .collapse .navbar-collapse {
    background-color: black;
} 

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: gold;
}


.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgb(255 255 255 / 10%);
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 10%);
    -webkit-overflow-scrolling: touch;
    
}

.navbar-collapse .dropdown-toggle {
  float: right;
}

#tradingview_810df-wrapper.chart{
  width:100%;
}
}

